<!-- Import sources I used related to Leaflet -->
<!-- Source: https://www.youtube.com/watch?v=Z1RJmh_OqeA&list=LL&index=17&t=370s -->
<!-- Source: https://leafletjs.com/examples/quick-start/ -->
<!-- Source: https://github.com/lennardv2/Leaflet.awesome-markers -->
<!-- Source: https://www.cdnpkg.com/Leaflet.awesome-markers/file/leaflet.awesome-markers.min.js/ -->
{% extends 'base.html' %}

{% block head %}
<title>Earthquake App</title>

    <!-- Leaflet CSS stylesheet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <!-- Leaflet.awesome-markers CSS stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <!-- Leaflet.awesome-markers JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>

    <style>
        #map {
            height: 1800px;
            width: 3600px;
        }
    </style>

{% endblock %}

{% block body %}
    <h1>Earthquake App</h1>
    
    <!-- Source: https://blog.hubspot.com/website/html-dropdown -->
    <select id="mode-selector">
        <option value="click">Click Mode</option>
        <option value="explore">Explore Mode</option>
    </select>

    <!-- Click Mode Elements -->
    <div id="click-mode-elements" style="display: block;">
        <!-- Source: https://www.w3schools.com/howto/howto_js_rangeslider.asp -->
        <input type="range" min="500" max="1000" value="750" class="slider" id="myRange">
        <div id="radius">Value: 750</div>
    </div>

    <!-- Explore Mode Elements -->
    <div id="explore-mode-elements" style="display: none;">
        <!-- Source: https://www.w3schools.com/html/html_forms.asp -->
        <form id="explore-form">
            <label for="continent">Select a continent:</label> 
                <select name="continent" id="continent"> 
                    <option value="Antarctica">Antarctica</option> 
                    <option value="Oceania">Oceania</option> 
                    <option value="Europe">Europe</option> 
                    <option value="Asia">Asia</option> 
                    <option value="South America">South America</option> 
                    <option value="North America">North America</option> 
                    <option value="Africa">Africa</option> 
                </select>


            <label for="month">Select a month:</label> 
                <select name="month" id="month"> 
                    <option value="All Months">All Months</option>
                    <option value="1">January</option> 
                    <option value="2">February</option> 
                    <option value="3">March</option> 
                    <option value="4">April</option> 
                    <option value="5">May</option> 
                    <option value="6">June</option> 
                    <option value="7">July</option> 
                    <option value="8">August</option> 
                    <option value="9">September</option> 
                    <option value="10">October</option> 
                    <option value="11">November</option> 
                    <option value="12">December</option> 
                </select>

            <input type="text" id="year" placeholder="Year"/>
            <button type="submit">Submit</button>
        </form>
    </div>
  
    <div id="severe-count">Severe Earthquakes: 0</div>
    <div id="map"></div>

    <!-- Reference to the external JS file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
